# Cleaning Data of Cafe Sales

The data set is cleaned by replacing missing value of non-numeric columns to **UNKNOWN** and numeric columns are filled with the **Median** values as the data are skewed.

In [175]:
import numpy as np
import pandas as pd

In [176]:
df=pd.read_csv('dirty_cafe_sales.csv')

In [177]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB
None

In [178]:
print(df.describe())

       Transaction ID   Item Quantity Price Per Unit Total Spent  \
count           10000   9667     9862           9821        9827
unique          10000     10        7              8          19
top       TXN_1961373  Juice        5            3.0         6.0
freq                1   1171     2013           2429         979

        Payment Method  Location Transaction Date
count             7421      6735             9841
unique               5         4              367
top     Digital Wallet  Takeaway          UNKNOWN
freq              2291      3022              159

In [179]:
print(df.isnull().sum())

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [180]:
#now handeling all non numeric missing values by replacing them with unknown

In [181]:
df['Location'].fillna('UNKNOWN',inplace=True)
df['Item'].fillna('UNKNOWN',inplace=True)
df['Payment Method'].fillna('UNKNOWN',inplace=True)

<ipython-input-181-8fcd36d72e54>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Location'].fillna('UNKNOWN',inplace=True)
<ipython-input-181-8fcd36d72e54>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Item'].fillna('UNKNOWN',inplace=True)
<ipython-input-181-8fcd36d72e54>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Payment Method'].fillna('UNKNOWN',inplace=True)

In [182]:
#handle date
df['Transaction Date']=pd.to_datetime(df['Transaction Date'],errors='coerce')
df['Transaction Date'].fillna('UNKNOWN',inplace=True)

<ipython-input-182-126f13854a60>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Transaction Date'].fillna('UNKNOWN',inplace=True)
<ipython-input-182-126f13854a60>:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'UNKNOWN' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df['Transaction Date'].fillna('UNKNOWN',inplace=True)

In [183]:
print(df.isnull().sum())

Transaction ID        0
Item                  0
Quantity            138
Price Per Unit      179
Total Spent         173
Payment Method        0
Location              0
Transaction Date      0
dtype: int64

In [184]:
#now handeling numerical value

In [185]:
#converting to numeric

In [186]:
df['Quantity']=pd.to_numeric(df['Quantity'],errors='coerce')
df['Price Per Unit']=pd.to_numeric(df['Price Per Unit'],errors='coerce')
df['Total Spent']=pd.to_numeric(df['Total Spent'],errors='coerce')

In [187]:
df['Total Spent'].fillna('ERROR',inplace=True)

<ipython-input-187-17150f721a08>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Total Spent'].fillna('ERROR',inplace=True)
<ipython-input-187-17150f721a08>:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'ERROR' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['Total Spent'].fillna('ERROR',inplace=True)

In [188]:
print(df['Total Spent'])

0         4.0
1        12.0
2       ERROR
3        10.0
4         4.0
        ...
9995      4.0
9996      3.0
9997      8.0
9998      3.0
9999     12.0
Name: Total Spent, Length: 10000, dtype: object

In [189]:
#fill missing values

In [190]:
df['Quantity'].fillna(df['Quantity'].median(),inplace=True)
df['Price Per Unit'].fillna(df['Price Per Unit'].median(),inplace=True)

<ipython-input-190-b0c178d592aa>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Quantity'].fillna(df['Quantity'].median(),inplace=True)
<ipython-input-190-b0c178d592aa>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Price Per Unit'].fillna(df['Price Per Unit'].median(),inplace=True)

In [191]:
df['Total Spent']= df['Quantity'] * df['Price Per Unit']

In [192]:
print(df['Total Spent'])

0        4.0
1       12.0
2        4.0
3       10.0
4        4.0
        ...
9995     4.0
9996     9.0
9997     8.0
9998     9.0
9999    12.0
Name: Total Spent, Length: 10000, dtype: float64

In [193]:
#final result
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              10000 non-null  object
 2   Quantity          10000 non-null  float64
 3   Price Per Unit    10000 non-null  float64
 4   Total Spent       10000 non-null  float64
 5   Payment Method    10000 non-null  object
 6   Location          10000 non-null  object
 7   Transaction Date  10000 non-null  object
dtypes: float64(3), object(5)
memory usage: 625.1+ KB
None